<div id="test" style = "height:35px; width:400px;margin: 20px auto 5px;background-color:lightcoral">search box</div>
<div style = "margin: 0px auto; background-color:lightsteelblue;height:500px;width:675px;"> random items from page</div>
