<script>
	$(document).ready(function() {
		$( "#nav_bar" ).accordion();
	});
</script>
<div id="nav_bar" style="width:25%;height:375px;margin:25px 10% 0 0;float:right;">
 <%= generate_nav.html_safe %>
</div>
<div id="user_content" style="margin: 25px 0 0 10%;width:50%;height:475px;background-color:magenta">Item Viewer</div>
